header ul {
    text-align: center;
    font-size:xx-large;
    margin:0; 
}
header li {
    display: inline-block;
    margin-right: 30px;
}
#idHeader{
    background-color: rgb(255, 108, 108);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url("../img/hearts.jpg") no-repeat center center fixed;
  background-size: cover;
}
#idExp{
    color: white;
}
#idDExp{
    color: white;
}
#idPExp{
    color: white;
}
#idNos1{
    height: 300px;
    width: 500px;
}
#idNos2{
    height: 350px;
    width: 500px;
}
#idNos3{
    height:600px;
    width: 500px;
}
#idNos4{
    height: 350px;
    width: 500px;
}

/* info */
#idInfoGen{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#idSecR1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#idSecR2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#idSecR3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#idSecR4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*Juego 1*/

#idJue1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

/*Juego 2 */
#idJue2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#idDivCan{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#idCanvas{
    background-image: url("../img/flap.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#idBotones{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

/*Juego 3 */
#idJue3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#idTabla{
  height: 532px;
  width:  470px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border: 10px solid lightgray;
  box-sizing: content-box;

}

.carta{
    height: 128px;
    width: 90px;
    margin: 2px;
}

/*Juego 4 */

#idJue4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align:  center;

}

#idDivTabMin {
  width: 400px;
  height: 400px;
  border: 10px solid darkgray;
  background-color: lightgray;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  box-sizing: border-box;
}

#idDivTabMin div {
  border: 1px solid whitesmoke;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#idBotBan {
    display: flex;
    align-items: center;           
    justify-content: center;
    margin-bottom: 10px;
}

#idBotones_Minas {
    display: flex;
    align-items: center; 
    gap: 10px;          
    justify-content: center;
}

#idVolM:active{
  background-color: darkgray;
}

#idVolM{
    width: 100px;
    height: 50px;
    font-size: 10px;
    background-color: lightgrey;
    border: none;  
}

#idInt4:active{
  background-color: darkgray;
}
#idInt4{
   width: 100px;
    height: 50px;
    font-size: 10px;
    background-color: lightgrey;
    border: none;  
}

#idBotComp4:active{
  background-color: darkgray;
}

#idBotComp4{
    width: 100px;
    height: 50px;
    font-size: 10px;
    background-color: lightgrey;
    border: none; 
}

#idBotonBandera{
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: lightgrey;
    border: none;

}
.tileElegida{
    background: darkgrey;
}

.x1{
    color: blue;
}
.x2 {
    color: green;
}
.x3{
    color: red;
}
.x4{
    color: navy;
}
.x5{
    color: brown;
}
.x6{
    color:teal;
}
.x7{
    color:black;
}
.x8{
    color:grey;
}

