#idJue2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#idDivCan{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#idCanvas{
    background-image: url("../img/flap.png");
    background-size: cover;
    background-repeat: no-repeat;
}


#idJue4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align:  center;
}

#idDivTabMin {
    width: 400px;
    height: 400px;
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

#idDivTabMin div {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#idBotonBandera{
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: lightgrey;
    border: none;

}
.tileElegida{
    background: darkgrey;
}
.x1{
    color: blue;
}
.x2 {
    color: green;
}
.x3{
    color: red;
}
.x4{
    color: navy;
}
.x5{
    color: brown;
}
.x6{
    color:teal;
}
.x7{
    color:black;
}
.x8{
    color:grey;
}
