/* Santiago Quinelli (307870) y Nicholas Davies (282236)*/
*{font-family: Arial, Helvetica, sans-serif;}
#idHeader{
    background-color: #ffa474;
    margin-bottom: 10px;
}
header ul {
    text-align: center;
    margin:0;
    
    
}
header li {
    display: inline-block;
    margin-right: 30px;
}
#idListaHead{
    list-style: none;
}
#idImgTri {
    width: 150px;
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
#idDescripcion{
     background-color: #f8f4dc;
     padding-bottom: 5px;
     

}
#idDescGen {
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);  
    border-radius: 8px;
   
}
#idQue {
     text-align: center;
}
#idSanti {
    width: 50px;
    height: 50px;
    vertical-align:middle;

}
#idNikki {
    width: 50px;
    height: 50px;
    vertical-align:middle;

}
#idGestion{
    background-color: #ffd48c;
}

#idGestionT{
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);  
    border-radius: 8px;
}
#idAlta{
    text-align: center;
}
#idTextoNom{
    margin-left: 150px;
}
#idTextoDesc{
    margin-left: 150px;
}
#idBot{
    margin-left: 5px;
}
#idDatos {
    text-align: center;
}
#idLinea {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);  
    border-radius: 8px;
}
#idGestPreg {
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.15);    
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
}
#idSelTem {
    margin-left: 150px;
    width: 200px;
}
#idNivel {
    margin-left: 147px;
}
#idTextPreg {
    margin-left: 50px;
    width: 192px;
}
#idRespC{
    margin-left: 45px;
}
#idRespI {
    margin-left: 20px;
}
#idBotResp{
    margin-left: 5px;
}
#idDatosGen {
    text-align: center;
}
#idNumNiv, #idNivel {
    width: 40px;
}

#idTable{
    border: 2px solid black;
    width: 100%;
}
#idTHead{
    position: sticky;
    top: 0;
}
#idCelda{
    background-color: white;
    border: 0.5px solid black;
}
#idCeldab{
    background-color: white;
    border: 0.5px solid black;
}
#idCeldac{
    background-color: white;
    border: 0.5px solid black;
}
#idCeldad{
    background-color: white;
    border: 0.5px solid black;
}
#idCeldae{
    background-color: white;
    border: 0.5px solid black;
}
#idBody{
    border: 0.5px solid black;
    height: 250px;
}
#idDivT{
    overflow-x: auto;
    height: 250px;
}
#idDB{
    overflow-x: auto;
}

#idJugar{
    background-color: #f5d9c5;
    padding-bottom: 10px;
}
#idAJugar{
    background-color: #f5d9c5;
    padding-bottom: 10px;
}
#idAJ {
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);  
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom:5px ;

}
#idElegir {
    margin-left: 100px;
    width: 200px;
    margin-right: 5px;
}
#idNumNiv{
    margin-left: 50px;
    margin-right: 5px;
}
#idJuego{
    text-align: center;
}
#idTablaJugar {
    background-color: #e87c24 ;
    color: white;
    border: 2px solid white;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto ;
    height: 40px;
}
#idBotones{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#idResp, #idResp2, #idResp3{
    background-color: #e87c24;
    color: white;
    border: solid white;
    height: 40px;
    width: 120px;
}
#idResp:hover, #idResp2:hover, #idResp3:hover{
    background-color: #fcb45c;
    transform: 0.7s;
 }
 #idResp:active,  #idResp2:active  #idResp3:active{
     background-color:  #e87c24;
     color:  white;
     transform: 0.7s;
     border: solid white;
  }
#idButtons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#idSig {
    margin-left: 5px;
    margin-right: 5px;
}